@import "../node_modules/bootstrap/less/bootstrap";
@import "_bootswatch";
@import "_variables";
@import "_sticky-footer";

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}
