@charset "utf-8";

$widescreen-enabled: false;
$fullhd-enabled: false;
$primary: #cc9966;
$link: #93C54B;
$link-hover: darken($link, 10%);
$footer-background-color: #F8F5F0;
$family-monospace: Menlo, Monaco, 'Courier New', Courier, monospace;
$code: hsl(0, 0%, 4%);

// @import "../node_modules/bulma/bulma";
@import "../node_modules/bulma/sass/utilities/_all";
@import "../node_modules/bulma/sass/base/_all";
@import "../node_modules/bulma/sass/components/media";
@import "../node_modules/bulma/sass/components/navbar";
@import "../node_modules/bulma/sass/components/pagination";
@import "../node_modules/bulma/sass/elements/button";
@import "../node_modules/bulma/sass/elements/container";
// @import "../node_modules/bulma/sass/elements/content";
@import "../node_modules/bulma/sass/elements/icon";
@import "../node_modules/bulma/sass/elements/other";
@import "../node_modules/bulma/sass/elements/title";
@import "../node_modules/bulma/sass/grid/columns";
@import "../node_modules/bulma/sass/layout/_all";

body {
  font-size: 1rem;
  line-height: 1.8;
  // sticky footer
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#wrapper {
  flex: 1;
}

p {
  margin-bottom: 0.8rem;
}

ul {
  li {
    list-style-type: disc;
    margin-left: 40px;
  }
}

ol {
  li {
    list-style-type: decimal;
    margin-left: 40px;
  }
}

nav > ul > li {
  list-style-type: none;
}

#TableOfContents {
  list-style: none;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0;
}

#TableOfContents > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

pre, code {
  @extend .is-family-monospace
}

h1 {
  @extend .is-size-2
}

h2 {
  @extend .is-size-3;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
}

h3 {
  @extend .is-size-4;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

h4 {
  @extend .is-size-5;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h5 {
  @extend .is-size-6;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h6 {
  @extend .is-size-7;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.hero-body {
  padding-left: 0;
  padding-right: 0;
}

.vertical-margin {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.capy-img {
  img {
    border: solid 1px $grey-light;
  }
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cp-tag {
  @extend .button;
  @extend .is-small;
  &:hover {
    color: $grey-darker;
  }
}

.cp-pagination {
  @extend .pagination;
  @extend .is-centered;
  @extend .vertical-margin;
  a:hover {
    color: $grey-darker;
  }
}
