{{ define "main" }}
{{ $title := .Title }}
<section class="hero">
    <div class="hero-body">
        <h1 class="title is-capitalized">
            {{ if ne .Type (.Title | lower) }}
            {{ .Type }} /
            {{ end }}
            {{ .Title }}
        </h1>
    </div>
</section>

{{ range $page := .Data.Pages }}
<p class="is-size-4"><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></p>
<i class="fas fa-calendar-alt"></i>
<time>{{ .Date.Format "2006-01-02 15:04" }}</time>
<span>&nbsp;</span>
<i class="fas fa-tags"></i>
{{ range $tag := .Params.tags }}
<a class="cp-tag" href="/tags/{{ $tag | urlize }}">#{{ $tag }}</a>
{{ end }}
<br><br>
{{ end }}
{{ end }}
