{{ define "main" }}
  <article>
    <section class="py-8">
      <h1>{{ .Title }}</h1>
      <i class="fas fa-calendar-alt"></i>
      <time>{{ .Date.Format "2006-01-02 15:04" }}</time>
      <span>&nbsp;</span>
      <i class="fas fa-tags"></i>
      {{ range $tag := .Params.tags }}
        <a href="/tags/{{ $tag | urlize }}">#{{ $tag }}</a>
      {{ end }}
    </section>

    <div class="rounded border">
      <aside>{{ .TableOfContents }}</aside>
    </div>

    {{ .Content }}
    <hr class="my-0 py-0" />
  </article>
  <nav class="flex flex-col justify-between md:flex-row">
    {{ if .Prev }}
      <a class="py-4 text-left" href="{{ .Prev.Permalink }}"
        ><i class="fas fa-caret-left"></i>&nbsp;{{ .Prev.Title }}</a
      >
    {{ else }}
    {{ end }}
    {{ if .Next }}
      <a class="py-4 text-right" href="{{ .Next.Permalink }}"
        >{{ .Next.Title }}&nbsp;<i class="fas fa-caret-right"></i
      ></a>
    {{ end }}
  </nav>
{{ end }}
