{{ define "main" }}
<article>
    <section class="py-8">
        <h1>{{ .Title }}</h1>
        <i class="fas fa-calendar-alt"></i>
        <time>{{ .Date.Format "2006-01-02 15:04" }}</time>
        <span>&nbsp;</span>
        <i class="fas fa-tags"></i>
        {{ range $tag := .Params.tags }}
        <a href="/tags/{{ $tag | urlize }}">#{{ $tag }}</a>
        {{ end }}
    </section>

    <div class="border rounded">
        <aside>
            {{ .TableOfContents }}
        </aside>
    </div>

    {{ .Content }}
    <hr class="py-0 my-0">
</article>
<nav class="flex flex-col md:flex-row justify-between">
    {{ if .PrevPage }}
    <a class="py-4 text-left" href="{{ .PrevPage.Permalink }}"><i class="fas fa-caret-left"></i>&nbsp;{{ .PrevPage.Title }}</a>
    {{ else }}
    {{ end }}
    {{ if .NextPage }}
    <a class="py-4 text-right" href="{{ .NextPage.Permalink }}">{{ .NextPage.Title }}&nbsp;<i class="fas fa-caret-right"></i></a>
    {{ end }}
</nav>
{{ end }}
