<article class="container-fluid">
    <div class="page-header">
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <time pubdate datetime="{{ .Date.Format " 2006-01-02 " }}" title="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
        {{ range $tag := .Params.tags }}
        <a href="/tags/{{ $tag | urlize }}">
            <button type="button" class="btn btn-default btn-xs">{{ $tag }}</button>
        </a>
        {{ end }}
    </div>

    {{ .Content }}

    <hr/>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = '{{ .Site.Params.disqusShortname }}';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</article>

<nav class="container-fluid">
    <ul class="pager">
        {{ if .Prev }}
        <li class="previous"><a href="{{ .Prev.Permalink}}"><i class="fa fa-caret-left"></i> {{ .Prev.Title }}</a></li>
        {{ end }}

        {{ if .Next }}
        <li class="next"><a href="{{ .Next.Permalink }}">{{ .Next.Title }} <i class="fa fa-caret-right"></i></a></li>
        {{ end }}
    </ul>
</nav>
