<header>
    <nav class="navbar is-primary">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ .Site.BaseURL }}"><strong>{{ .Site.Title }}</strong></a>

                <a class="navbar-burger burger" data-target="navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>

            <div id="navigation" class="navbar-menu">
                <div class="navbar-end">
                    {{ range .Site.Menus.header }}
                    <a class="navbar-item" href="{{ .URL }}">{{ .Name }}</a>
                    {{ end }}
                </div>
            </div>
        </div>
    </nav>
</header>
