<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {{- if .IsHome }}
    <title>{{ .Site.Title }}</title>
    {{- else }}
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    {{- end }}
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ template "_internal/twitter_cards.html" . }}

    <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">
    <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/syntax.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="{{ .Site.BaseURL }}js/main.js"></script>
</head>
