{{ define "main" }}
  {{ range first 10 $.Site.RegularPages }}
    <article>
      <p class="my-2 text-xl font-semibold">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </p>
      <i class="fas fa-calendar-alt"></i>
      <time>{{ .Date.Format "2006-01-02 15:04" }}</time>
      <span>&nbsp;</span>
      <i class="fas fa-tags"></i>
      {{ range $tag := .Params.tags }}
        <a class="" href="/tags/{{ $tag | urlize }}">#{{ $tag }}</a>
      {{ end }}
      <p class="bg-code-light my-0 rounded">{{ .Summary | plainify }}...</p>
      <br />
    </article>
  {{ end }}


  <nav class="text-center">
    <a class="py-4" href="/posts">Show more</a>
  </nav>
{{ end }}
