{{/* short code for image
usage:
{{< capy-img src="img/some-image.png" scale="50" caption="foobar" >}}
*/}}
{{ $img := $.Page.Resources.GetMatch (.Get "src") }}
{{ with $img }}{{ $img = $img.Resize "960x" }}{{ end }}
<figure class="capy-img">
    <img src="{{ with $img }}{{ .Permalink }}{{ else }}{{ .Get "src" }}{{ end }}" {{ if .Get "scale" }}width="{{ .Get "scale" }}%" height="{{ .Get "scale" }}%"{{ end }} />
    {{ if .Get "caption" }}
    <figcaption>{{- .Get "caption" -}}</figcaption>
    {{ end }}
</figure>
